.App{
  text-align: center;
}

.tasklist h1{
  font-size: 28px;
  text-align: center;
  margin: 20px;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  align-items: center;
  max-width: 1000px;
  margin: auto;
  border-bottom: 1px solid var(--theme-border);
  font-size: 18px;
  padding: 0px 10px;
  }

img{
  max-width: 40px;
}

ul{
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

}

li{
  font: 16px;
  list-style: none;
  margin: 20px 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 1px 4px;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li.completed{
  box-shadow: rgb(48, 114, 0) 0px 1px 4px;
}

li.incompleted{
  box-shadow: rgba(135, 20, 0, 0.689) 0px 1px 4px;
}

button.delete{
  border: 0px;
  border-radius: 5px;
  background-color: #0F3460;
  color: #ffffff;
  padding: 5px 10px;
  cursor: pointer;
}

button.trigger{
  border: 0px;
  border-radius: 5px;
  background-color: var(--theme-button);
  color: white;
  padding: 5px 10px;
  cursor: pointer;

}

.box{
  width: 600px;
  margin: 20px auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 20px 5px;
  border-radius: 5px;
}
.box.success{
  background-color: #baffbf;
}

.box.alert{
  background-color: #ffb4b4;
}
.box.warning{
  background-color: #FFDEB4;
}

.box p{
  margin: 10px;
}

.box p.title{
  font-size: 20px;
}

.box p.description{
  font-size: 14px;
}

.hidden{
  display: none;
}

main{
  min-height: 90vh;
  max-width: 1200px;
  margin: auto;
  padding: 10px;
}

footer{
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 20px;
  border-top: 1px solid #d7d7d7;
}
